/* Global   ============================== */
:root {
  --background: #f0f2f5;
  --table-text: #969cb3;
  --dark-blue: #363f5f;
  --dark-green: #2d4a22;
  --green: #12a454;
  --light-green: #49aa26;
  --highlight-green: #3dd705;
  --dark-red: #9c0000;
  --red: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

.sr-only {
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  margin: auto;
  width: min(90vw, 800px);
}

/* Responsive   ============================== */
@media (min-width: 800px) {
  html {
    font-size: 87.5%; /* 14px */
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* Titles   ============================== */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

/* Header   ============================== */
header {
  padding: 2rem 0 12rem;
  text-align: center;
  background: var(--dark-green);
}

/* Links and Buttons  ============================== */
a {
  color: var(--light-green);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-green);
}

button {
  padding: 0;
  width: 100%;
  height: 50px;

  cursor: pointer;

  border: none;
  border-radius: 0.25rem;

  color: white;
  background: var(--light-green);
}

button:hover {
  background: var(--dark-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;

  border: 2px var(--red) solid;
  border-radius: 0.25rem;

  color: var(--red);
  opacity: 0.6;
}

.button.cancel:hover {
  border: 2px var(--dark-red) solid;
  color: white;
  background-color: var(--dark-red);
}

/* Balance  ============================== */
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: white;
  margin-top: 0;
}

/* Cards  ============================== */
.card {
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  color: var(--dark-blue);
  background: white;
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: normal;
  font-size: 1rem;
}

.card p {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}

.card.total {
  background: var(--light-green);
  color: white;
}

/* Table   ============================== */
#transaction {
  display: block;
  width: 100%;
  margin-top: 1rem;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--table-text);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

table thead th {
  padding: 1rem 2rem;
  text-align: left;
  font-weight: normal;
  background: white;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  padding: 1rem 2rem;
  background: white;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: var(--green);
}

td.expense {
  color: var(--red);
}

/* Modal   ============================== */
.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  z-index: 1;

  padding: 2.4rem;
  background: var(--background);
}

/* Form   ============================== */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  font-family: inherit;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  outline-color: var(--green);
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  padding: 0.2rem;
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  font-family: inherit;
  width: 48%;
  margin-top: 0.8rem;
}

/* Footer   ============================== */
footer {
  padding: 2rem 0 2rem;
  text-align: center;
  color: var(--dark-blue);
  opacity: 0.6;
}
